:root {
  --amarelo: #f7d21e;
}

html,
body {
  background: linear-gradient(120deg, #1b3d69, #112f57);
  overflow-x: hidden;
}

/* ===== COLUNA DA ESQUERDA (critérios) ===== */
.estrelas-container {
  background-color: #0d2b55;
  padding: 20px 25px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.estrela input {
  display: none;
}

.form-label {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-left: 4px;
}

/* ===== ESTRELAS ===== */
.estrela {
  background-color: #11274c;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  padding: 5px 5px 5px 5px;

  direction: rtl;
}

.estrela label i {
  font-size: 1.4rem;
  color: rgb(64, 64, 105);
}

.estrela input:checked~label i,
.estrela label:hover i,
.estrela label:hover~label i {
  color: var(--amarelo);
}

/* ===== COLUNA DIREITA ===== */
.forms {
  padding-left: px;
}

/* ===== CAMPOS ===== */
.form-select,
.form-control {
  background-color: #11274c;
  color: white;
  border-radius: 20px;
  padding: 12px 18px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border: none;
}

.form-control::placeholder {
  color: #bcd2e0;
}

/* ===== BOTÃO ===== */
.btn-primary {
  background-color: transparent !important;
  border: 1px solid #cbdbeb;
  border-radius: 25px !important;
  padding: 10px;
  transition: 0.2s;
  margin: 0 auto;
  text-align: center;

}

.btn-primary:hover {
  background-color: rgba(255, 255, 255, 0.15) !important;
  transform: scale(1.03);
}

.info-icon {

  border: 1px solid #cbdbeb;
  color: #3aa0ff;
  font-size: 11px;
  margin-right: 5px;
}

/* Ícone */
.info-icon {
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  margin-left: 6px;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  font-weight: bold;
}

/* Tooltip */
.info-icon:hover::after {
  content: attr(data-info);
  position: absolute;
  top: 25px;
  left: 0;
  background: #fff;
  color: #000;
  padding: 6px 10px;
  width: 220px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  font-size: 13px;
  z-index: 200;
}

/* Mantém o nome do tópico alinhado */
.topico {
  font-weight: 600;
  margin-bottom: 5px;
}

.text-danger {
  display: block;
  margin-top: 10px;
}

.avaliacao-container .btn-voltar {
  font-size: 30px;
  color: #fff;
  float: left;
}

.nome-professor {
  text-transform: capitalize;
  color: #fff;
}