:root {
  --amarelo: #f7d21e;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #1b3d69;
}

.estrela {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.estrela input {
  display: none;
}

.estrela label i {
  font-size: 1.8rem;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.estrela input:checked ~ label i,
.estrela label:hover i,
.estrela label:hover ~ label i {
  color: var(--amarelo);
}
.btn-enviar {
  margin-top: 15px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 25px;
  font-size: 1.1rem;
  border-radius: 30px;
  width: 100%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-enviar:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transform: scale(1.03);
}
.text-danger {
    display: block;
    margin-bottom: 8px;
}
.box-validacao {
  background-color: #0b1a33; /* azul escuro */
  color: white; 
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  border-left: 5px solid var(--amarelo); /* opcional: detalhe */
}

.box-validacao p {
  margin: 0;
  padding: 3px 0;
}

