body {
    background-color: #173865;
    color: #fff;
}

/* ======== BOTÃO VOLTAR ======== */
.btn-voltar {
    position: absolute;
    top: -40px;      /* Coloca acima do formulário */
    left: -50px;     /* Coloca no canto esquerdo */
    font-size: 24px; /* Tamanho da seta */
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}
.btn-voltar:hover {
    color: #00aaff; /* Efeito hover */
}

h3.text-center {
    font-weight: bold;
    color: #ffffff;
}

.formAluno-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0%;
    left: 100px;
    box-shadow: 0 4px 8px rgba(140, 132, 214, 0.2); /* Aplica uma sombra ao redor do formulário para destacar visualmente */
}

.aluno-form .mb-3 {
    margin-bottom: 20px;   
    border-radius: 20px; 
}
.form-select {
    border-radius: 20px;

}

.formAluno-info img {
    max-width: 500%; /* tamanho do logo */
    height: auto;
    color:#8e9fb8
}

.aluno-form {
    background-color: #0f1b3a;
    padding: 40px;
    border-radius: 20px;
    width: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    
}

.form-control {
        border-radius: 20px;
    }

.btn-success {
    background-color: #173865;
    border: none;   
    color: #ffffff;
    padding: 10px 25px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
    border-radius: 20px;
}

.btn-secondary {
    background-color: #0d1f3a;
    border: none;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

 .register-link {
        color: #b6c1ff;
        font-size: 14px;
        text-align: center;
        margin-top: 15px;
    }

