body {
    background: linear-gradient(120deg, #1b3d69, #112f57);
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
}


.btn-voltar:hover {
    color: #b8c6ff;
}

h2 {
    color: #fff;
    text-align: center;
    margin-top: 60px;
    font-weight: bold;
}

.logo-aluno {
    width: 650px;
    height: auto;
    /* mantém a proporção */
}

.aluno-form {
    margin-left: auto;
    margin-right: 0%;
}

.aluno-form {
    justify-content: end;
    background-color: #0f1b3a;
    padding: 40px;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.container form {
    margin-top: auto;

}

/* Espaço entre campos */
form .mb-3 {
    margin-bottom: 20px;
}

/* Inputs */
.form-control,
.form-select {
    border-radius: 20px;
    padding: 12px;
    border: none;
}


.btn-success {
    background-color: #173865;
    border: none;
    color: #ffffff;
    padding: 12px;
    font-weight: bold;
    width: 100%;
    border-radius: 20px;
    transition: 0.3s;
}

.btn-success:hover {
    background-color: #1d4d8a;
}

.container .btn-voltar {
    font-size: 30px;
    color: #fff;
    float: left;
}


.register-link {
    text-align: center;
    color: #b6c1ff;
    margin-top: 12px;
}

.register-link a {
    color: #b6c1ff;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .btn-voltar {
        font-size: 26px;
        top: 10px;
        left: 10px;
    }

    h2 {
        margin-top: 50px;
        font-size: 22px;
    }

    .logo-aluno {
        width: 95px;
    }

    form {
        padding: 25px;
    }
}