body {
    background-color: #1b3d69;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
}


/* ===== TÍTULO ===== */
h3.text-center {
    font-weight: bold;
    color: #ffffff;
    margin: 20px 0;
}


/* ===== LOGO ===== */
.formAluno-info img {
    max-width: 100px;
    width: 100%;

}

.form-col {
    margin-left: auto;
    margin-right: 0%;
}

/* ===== FORMULÁRIO ===== */
.aluno-form {
    background-color: #0f1b3a;
    padding: 40px;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.aluno-form .mb-3 {
    margin-bottom: 20px;
}

.form-control,
.form-select {
    border-radius: 20px;
}

.btn-success {
    background-color: #173865;
    border: none;
    color: #ffffff;
    padding: 10px 25px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
    border-radius: 20px;
}

.btn-success:hover {
    background-color: #1d4d8a;
}

.btn-secondary {
    background-color: #0d1f3a;
    border: none;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.register-link {
    color: #b6c1ff;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}

.register-link a {
    color: #b6c1ff;
    text-decoration: underline;
}

.aluno-form {
    padding: 50px;
}

