body {
    background-color: #1b3d69;
    color: #fff;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
}

h3.text-center {
    font-weight: bold;
    color: #ffffff;
}

.container {
    padding: 30px;
    border-radius: 20px;
    width: 60%;
    margin: 40px auto;
    text-align: center;
}

.container,
.form-container {
    background: none;
    box-shadow: none;
    border: none;
}

.form .mb-3 {
    margin-bottom: 20px;
    border-radius: 20px;
}

.form-select {
    border-radius: 20px;
    padding: 10px 15px;
    border: none;

}

.form-control {
    border-radius: 20px !important;
    padding: 10px 15px;
    border: none;
}

/* Ajuste opcional para visual uniforme */
.form-control:focus,
.form-select:focus {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    outline: none;
}


.form {
    background-color: #0f1b3a;
    padding: 40px;
    border-radius: 20px;
    width: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}

.btn-success {
    background-color: #173865;
    border: none;
    color: #ffffff;
    padding: 10px 25px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
    border-radius: 20px;
}

.btn-secondary {
    background-color: transparent;
    border: none;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.register-link {
    color: #b6c1ff;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}

#selectTurma {
    border-radius: 20px;
    max-width: 400px;
}


.multiselect-dropdown {
    color: #333;
    width: 100% !important;
    padding: 8px;
    border-radius: 25px;
}

.multiselect-dropdown-list div {
    display: flex;
    text-align: left;
    align-items: center;

}

.multiselect-dropdown-list div input {

    width: 20px;

}

.multiselect-dropdown span.placeholder {
    color: #333;
    background: none !important;
}

.multiselect-dropdown span.optext {
    background-color: #2c87ddff;
    border-radius: 15px;
    color: #fff;

}