body {
    background-color: #173865;
    color: #fff;
}

h3.text-center {
    font-weight: bold;
    color: #ffffff;
}

.container,
.form-container {
    background: none;
    box-shadow: none;
    border: none;
}

.form .mb-3 {
    margin-bottom: 20px;
    border-radius: 20px;
}

.form-select {
    border-radius: 20px;

}

.form {
    background-color: #0f1b3a;
    padding: 40px;
    border-radius: 20px;
    width: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}

.btn-success {
    background-color: #173865;
    border: none;
    color: #ffffff;
    padding: 10px 25px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
    border-radius: 20px;
}

.btn-secondary {
    background-color: transparent;
    border: none;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.register-link {
    color: #b6c1ff;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}