/* homeAluno.css */

/* Fundo geral */
body {
    background-color: #142850; /* azul escuro */
    font-family: 'Arial', sans-serif;
    color: #f1f1f1; /* texto claro */
    margin: 0;
    padding: 0;
}

/* Título central */
h3.text-center {
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
    font-size: 26px;
    font-weight: bold;
}

/* Container centralizado */
.container {
    background: #142850; /* fundo mais claro que o body */
    padding: 30px;
    border-radius: 20px;
    width: 60%;
    margin: 40px auto;
    text-align: center;
}

/* Texto dentro do container */
.container span {
    font-size: 20px;
    font-weight: 50;
    color: #e6e6e6;
}

/* Botão estilo igual cadastro */
.btn-info {
    background: linear-gradient(135deg, #2563eb, #1e40af); /* azul gradiente */
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 25px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-info:hover {
    background: linear-gradient(135deg, #1e40af, #1e3a8a);
    transform: scale(1.05);
}

.fonteBonita {
    font-family: 'Poppins', sans-serif; /* ou outra fonte do Google Fonts */
    font-weight: 700; /* deixa mais "forte" */
    font-size: 1.5rem; /* tamanho maior */
    color: #3b82f6; /* azul bonito (mesmo estilo do botão) */
    letter-spacing: 1px; /* dá espaçamento entre letras */
}

/* Lista de usuários */
