 body {
     background-color: #1b3d69;
 }

 html,
body {
    overflow-x: hidden;
    overflow-y: auto;
}

 h3 {
     color: #fff;
     margin-top: 40px;
 }

 .card-title {
     min-height: 50px;
     color: white;
     letter-spacing: 1px;
     text-align: center;
 }

 .card-text {
     color: white;
     min-height: 50px;
     text-align: center;
     letter-spacing: 1px;
 }

 p{
    color: white;
 }

 .grifado {
    font-weight: bold;
    color: #b9c6ff;}


 .card-body {
     background-color: #072957;
     padding: 40px;
     border-radius: 20px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
 }

 .btn-primary {
     background-color: #7085f3;
     border: none;
     min-width: 50%;
     border-radius: 20px;
     padding: 10px;
     font-weight: bold;
     box-align: center;

 }