body {
    background: linear-gradient(135deg, #1b3b67, #061e45);
    overflow-x: hidden;
    overflow-y: auto;
        font-family: 'Poppins', sans-serif;

}

/* Título */
.section-title {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 40px;
}

/* Card estilizado */
.custom-card {
    background: #0e2d57;
    border: none;
    border-radius: 18px;
    transition: 0.3s;
}

/* Hover suave */
.custom-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

/* Título do card */
.card-title {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 15px;
}

/* Texto interno */
.card-text {
    color: #d7e3ff;
    font-size: 1.1rem;
    margin-bottom: 25px;
}

/* Botão */
.btn-custom {
    background-color: #6c82ff;
    border-radius: 12px;
    padding: 10px 25px;
    font-weight: 600;
    transition: 0.3s;
    border: none;
}

.btn-custom:hover {
    background-color: #5668ff;
    transform: scale(1.05);
}

