 body {
     background-color: #1b3d69;
 }

 .text-center {

     color: #fff;
     margin-top: 40px;


 }

 .card-title {
     color: white;
     letter-spacing: 1px;

 }

 .card-text {
     color: white;
     min-height: 50px;

 }

 .card {
     background-color: #072957;
     padding: 40px;
     border-radius: 20px;
     width: 400px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);


 }

 .form-control {
     border-radius: 20px;

 }

 .btn-primary {
     background-color: #7085f3;
     border: none;
     width: 50%;
     border-radius: 20px;
     padding: 10px;
     font-weight: bold;
     right: 16px;
 }