body {
    background: linear-gradient(120deg, #1b3d69, #112f57);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
}

h3.text-center {
    color: #fff;
    margin-top: 30px;

}

.container {
    padding: 30px;
    border-radius: 20px;
    width: 60%;
    margin: 40px auto;
    text-align: center;
}

.container span {
    font-size: 20px;
    font-weight: 50;
    color: #e6e6e6;
}

.btn-info {
    background: linear-gradient(135deg, #2563eb, #1e40af);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 25px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-info:hover {
    background: linear-gradient(135deg, #1e40af, #1e3a8a);
    transform: scale(1.05);
}

.fonteBonita {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #3b82f6;
    letter-spacing: 1px;
}