body {
    background: linear-gradient(120deg, #1b3d69, #112f57);
    color: #fff;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
}

h3.text-center {
    font-weight: bold;
    color: #ffffff;
}

.curso-nome {
    color: #c6d5f1;
    font-weight: bold;
}

/* Container centralizado */
.container {
    padding: 30px;
    border-radius: 20px;
    width: 60%;
    margin: 40px auto;
    text-align: center;
}

table {
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
}

.btn {
    background-color: #483D8B;
    border: none;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #1e40af;
    cursor: pointer;
}

.table-responsive {
    overflow-x: auto;
} 