/* ====== NAVBAR CUSTOM ====== */
.navbar-custom {
  background-color: #072957 !important;
  /* Azul escuro */
  padding: 8px 20px;
  font-family: 'Segoe UI', sans-serif;
}

/* ====== LOGO ====== */
.navbar-logo {
  height: 50px;
}

/* ====== LINKS ====== */
.navbar-custom .nav-link {
  color: #fff !important;
  transition: color 0.3s ease;
  font-weight: 500;
}

.navbar-custom .nav-link:hover {
  color: #cdd8f4 !important;
}

.dropdown-menu {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item:hover {
  background-color: #f0f4ff;
}

.user-avatar {
  width: 40px;
  height: 40px;
  background-color: #cdd8f9;
  font-weight: bold;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  font-size: 14px;
  border: none;
  box-shadow: none;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.user-avatar img {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

/* ======= CORREÇÃO DO PERFIL ======= */
.user-menu::after {
  display: none !important;
}


.navbar-custom i {
  font-size: 18px;
  color: #fff;
}

/* ====== RESPONSIVIDADE ====== */
@media (max-width: 992px) {
  .navbar-brand span {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .navbar-custom {
    padding: 6px 10px;
  }

  .navbar-logo {
    height: 40px;
  }

  .navbar-custom .nav-link {
    font-size: 14px;
    padding: 8px 10px;
  }
}