body {
    background: linear-gradient(120deg, #1b3d69, #112f57);
    color: #fff;

}

/* CARD */
.perfil-card {
    background: #072957;
    border-radius: 18px;
    max-width: 600px;
    color: #fff;
}

/* FOTO REDONDA */
.foto-perfil {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ffffff40;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* NOME DO USUÁRIO */
.nome-usuario {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;

}

h4 {
    text-transform: capitalize;
}

/* CARD COM EMAIL E TIPO */
.info-mini-card {
    background: #243b63;
    border-radius: 15px;
    padding: 4px 8px;
    height: 65px;
}

.titulo-pequeno {
    font-size: 0.9rem;
    font-weight: 600;
    opacity: 0.7;
    margin-bottom: 2px;
}

.valor-pequeno {
    font-size: 1rem;
}

#txtFoto {
    border-radius: 20px !important;
    background: #1e3257;
    color: #cfd6e2;
    padding: 10px;
    border: 1px solid #3d5a80;
}

#txtFoto::file-selector-button {
    border-radius: 20px;
    background: #6a5acd;
    padding: 8px 15px;
    color: #fff;
    cursor: pointer;
}


/* BOTÃO */
.btn-primary {
    background-color: #6a5acd;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 20px;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #7a6bf0;
    transform: scale(1.03);
}