body {
    background-color: #1b3d69;
    color: #fff;
}

h3.text-center {
    font-weight: bold;
    color: #ffffff;
}

/* Container centralizado */
.container {
    padding: 30px;
    border-radius: 20px;
    width: 60%;
    margin: 40px auto;
    text-align: center;
}

table {
    border-radius: 12px;       /* arredondamento */
    overflow: hidden;          /* mantém os cantos arredondados visíveis */
    width: 100%;
}
.btn{
    background-color: #483D8B;
    border: none;
    color: #ffffff;
    transition: background-color 0.3s ease;
}
.hidden{
    text-align: center;
    padding: 30px;
  
}

html, body {
    overflow-x: hidden;
    overflow-y: auto;
}