body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(120deg, #1b3d69, #112f57);
}

.container {
    min-height: calc(100vh - 196px);
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

body {
    display: block;
}


