body {
    background: linear-gradient(120deg, #1b3d69, #112f57);
    color: #fff;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
}

h3.text-center {
    font-weight: bold;
    color: #ffffff;
}

.container {
    padding: 30px;
    border-radius: 20px;
    width: 60%;
    margin: 40px auto;
    text-align: center;
}

.form .mb-3 {
    margin-bottom: 20px;
    border-radius: 20px;
}

.form-select {
    border-radius: 20px;
    padding: 10px 15px;
    border: none;

}

.form-control {
    border-radius: 20px !important;
    padding: 10px 15px;
    border: none;
}

.form-container {
    justify-content: center;
}

.form {
    background-color: #0f1b3a;
    padding: 40px;
    border-radius: 20px;
    width: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}

.btn-primary {
    background-color: #173865;
    border: none;
    color: #ffffff;
    padding: 10px 25px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
    border-radius: 20px;
}