 body {
     background-color: #1b3d69;
 }

 h3{
    color:#fff;
    margin-top: 40px;
 }

 .container {
    display: flex;
    flex-direction: row;         /* coloca os cards lado a lado */
    flex-wrap: wrap;             /* quebra linha se faltar espaço */
    justify-content: center;     /* centraliza horizontalmente */
    align-items: flex-start;     /* alinha todos pelo topo */
    text-align: center;
    gap: 30px;                   /* espaço entre os cards */
    padding: 30px;  
 }

 .card-title {
     min-height: 50px;
     color: white;
     letter-spacing: 1px;
     text-align: center;
 }

 .card-text {
     color: white;
     min-height: 50px;
     text-align: center;

 }

 .card-body {
     background-color: #072957;
     padding: 40px;
     border-radius: 20px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
     width: 400px;
 }

 .btn-primary {
     background-color: #7085f3;
     border: none;
     width: 50%;
     border-radius: 20px;
     padding: 10px;
     font-weight: bold;
     box-align: center;

 }

 @media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}